* { 
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}   

body {
    padding-bottom: 64px;
    background: rgba(161, 0, 0, 0.3);
    font-family: "Open Sans", san-serif;
}   

img {
    width: 1280px;
    height: 500px;
    max-width: 1280px;
    min-height: 500px;
    border-width: 1px;
    display: block;
    margin: auto;
    object-fit: cover;
}

h1 {
    font-weight: 700;
    font-size: 40px;
    color: #A10000;
}

h2 {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 5px;
}

.content {
    width: 1280px;
    height: 1419px;
    max-width: 1280px;
    padding: 64px;
    gap: 32px;
    margin: auto;
    background-color: #fff;
}

.content p {
    width: 1150px;
    height: 75px;
    font-weight: 400;
    font-size: 24px;
    margin: 20px 0px 20px 0px;
    padding: 20px 30px;
    background-color: #ebebeb;
}

.ingredienser span {
    font-weight: 400;
}

.ingredienser ul {
    font-weight: 400;
    font-size: 24px;
    margin-left: 45px;
    margin-bottom: 20px;
}

.instruktioner ol {
    font-weight: 400;
    font-size: 24px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.bottom-container {
    padding: 10px;
    width: 1152px;
    gap: 30px;
    display: flex;
}

.bottomimage {
    width: 564px;
    min-width: 300px;
}


@media screen and (max-width: 375px) {
    body { 
        width: 440px;
        height: auto;
    }
    
    img { 
        width: 440px;
    }

    h1 {
        width: 375px;
    }

    .content {
        width: 440px;
        height: auto;
        max-width: 440px;
        padding: 64px 32px;
    }

    .content p {
        width: 375px;
        height: 145px;
        margin-top: 15px;
    }

    .ingredienser {
        margin-top: 0px;
    }

    .ingredienser span {
        display: block;
    }

    .ingredienser ul {
        width: 250px;
    }

    .instruktioner ol {
        width: 320px;
    }

    .bottom-container {
        max-width: 375px;
        display: grid;
    }

    .bottomimage {
        width: 350px;
    }
}   
